body{
    background-image: url("img\\background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section{
    display: flex;
    align-items: flex-start;
    padding: 6px
}

.box{
    color: white;
    background-color: #030f1bd0;
    border-radius: 0.5em;
    border: 2px solid white;
    margin: 2px;
}

.button{
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.button:hover{
    color: #fa0;
}

.innerBox{
    width: 90%;
}

.monster{
    cursor: pointer;
}

.playerBox{
    color: white;
    background-color: #030f1bd0;
    border-radius: 0.5em;
    border: 2px solid white;
    margin: 2px;
    display: flex;
    justify-content: center;
    width: 25%;
}

.playerDefense, .playerName, #attack, #defense, #player1Health, #player1Mana, #player2Health, #player2Mana, #player3Health, #player3Mana, #player4Health, #player4Mana, #special, #tooltipTitle, #tooltipText{
    width: 100%;
    display: flex;
    justify-content: center;
}

#actions{
    display: flex;
    justify-content: center;
    width: 25%;
}

#actionDesc, #mainDisplay{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainDisplayBox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#monsters{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

#tooltip{
    display: flex;
    justify-content: center;
    width: 25%;
    padding: 17px 0 17px 0;
    visibility: hidden;
}

#wraith{
    height: 200px;
}

#minotaur{
    height: 266px;
}

#golem{
    height: 240px;
}